<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-beige-color">
        <div class="container-fluid">
          <a class="navbar-brand" href="../public/home.html">
            <img src="../../resources/img/png/huellitas_logo.png" width="50px">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Perros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Gatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">¿Quiénes somos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Términos y condiciones</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-5 bg-white" type="search" placeholder="Buscar" aria-label="Search">
            </form>
            <a class="navbar-brand me-5" href="../public/home.html">
              <img src="../../resources/img/png/carrito_naranja.png" width="40px">
            </a>
            <a href="" class="btn btn-orange-color text-light me-5">Iniciar sesión</a>
          </div>
        </div>
      </nav>
</body>
</html>