<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pet's - Carrito</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/carrito.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
</head>

<body class="bg-beige-color">

    <!-- Agregamos nuestro navbar -->
    <header class="p-5 mt-3">
        <nav id="navbar"></nav>
    </header>

    <main>
        <div class="container ">
            <div class="d-flex justify-content-start">
                <a href="../public/carrito_1.html"><img src="../../resources/img/png/row.png"></a>
                <p class="ms-3 mt-2">Regresar a mi carrito</p>
            </div>

            <!-- Row que contiene dos columnas -->
            <div class="row gx-5 mb-5 gy-5">
                <!-- Col 1 - Contiene formulario para agregar la direccion -->
                <div class="col-sm-12 col-md-8">
                    <div class="d-flex justify-content-start mt-4">
                        <img src="../../resources/img/png/advertencia.png" width="50px" height="50px">
                        <p class="ms-3 fw-bold">Para poder realizar tú compra es necesario que escribas correctamente la
                            dirección donde sera envíado tu pedido</p>
                    </div>
                    <hr>
                        <div class="mt-5 mb-4">
                            <label for="direccionCliente" class="form-label fw-semibold">Dirección</label>
                            <div class="mb-3">
                                <small>Esta es la dirección que se encuentra registrada a tu cuenta</small>
                            </div>
                            <input class="form-control bg-white shadow" id="direccionCliente" name="direccionCliente" disabled
                                required>
                            <div class="d-flex justify-content-start mt-3 form-text fw-semibold text-decoration-underline" onclick="updateAddress()" >
                                <img src="../../resources/img/png/place_marker.png" class="me-2" width="23px"
                                    height="23px">
                                ¿Tienes una nueva dirección, no se encuentra tú dirección?
                            </div>
                        </div>
                    <form id="formAddress">
                        <div class="mb-4 d-none" id="showDiv">
                            <label for="newDireccionCliente" class="form-label fw-semibold">Agrega tu nueva
                                dirección</label>
                            <div class="d-flex justify-content-evenly">
                                <input type="text" id="newDireccionCliente" name="direccion"
                                       class="form-control shadow bg-white me-5">
                                <button type="submit" class="btn btn-red-color text-light btn-sm">Actualizar dirección</button>
                            </div>
                        </div>
                    </form>
                        <button onclick="finishOrder()"
                            class="btn btn-orange-color text-light col-md-4 col-sm-12 mt-4">Comprar ahora</button>
                </div>
                <!-- Col 2 - Contiene el total a pagar de productos-->
                <div class="col-sm-12 col-md-4">
                    <div class="bg-white p-4 shadow rounded-4">
                        <p class="fw-semibold mb-5">Total productos</p>
                        <hr>
                        <div class="d-flex justify-content-between mb-5">
                            <p class="fw-bold fs-5">Total</p>
                            <p class="fw-bold fs-4 text-red-color" id="totalPrice"></p>
                        </div>
                        <div class="text-center">
                            <img src="../../resources/img/png/huellitas_logo.png" width="100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Agregamos el footer -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/carrito_2.js"></script>
</body>

</html>