<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pet's - Carrito</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/carrito.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
</head>

<body class="bg-beige-color">

    <!-- Agregamos nuestro navbar -->
    <header class="p-5 mt-4">
        <nav id="navbar"></nav>
    </header>

    <main>
        <div class="container">
            <div class="d-flex justify-content-start">
                <img src="../../resources/img/png/ok.png" width="60px" height="60px">
                <p class="ms-3 mt-3 fs-5 fw-semibold">Compra realizada correctamente</p>
            </div>
            <hr>
            <div>
                <!-- Contiene una row que tiene dos columna -->
                <div class="row mb-5 mt-5 gx-5">
                    <!-- Primera columna -->
                    <div class="col-md-8 col-sm-12">
                        <div class="mb-5">
                            <label for="nameClient" class="form-label fw-semibold">Nombre del comprador</label>
                            <p id="nameClient"></p>
                        </div>
                        <p class="fw-semibold">Mi pedido</p>
                        <ul class="list-group" id="cardProducts">
                        </ul>
                    </div>
                    <!-- Segunda columna -->
                    <div class="col-md-4 col-sm-12">
                        <div class="p-4">
                            <div class="d-flex justify-content-start mb-4">
                                <img src="../../resources/img/png/calendar.png" width="25px" height="25px">
                                <p class="fw-bold ms-2" id="date"></p>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                                <img src="../../resources/img/png/price.png" width="25px" height="25px">
                                <p class="fw-bold ms-2" id="totalPrice"></p>
                            </div>
                            <div class="bg-green-color fw-semibold d-grid grap-2 shadow rounded-4">
                                <p class="text-center mt-3" id="status"></p>
                            </div>
                            <div class="d-flex justify-content-start mb-2 mt-3">
                                <img src="../../resources/img/png/info.png" width="25px" height="25px">
                                <p class="fw-light ms-2 small">Se te enviará un correo
                                    electrónico con la hora y lugar para que puedas recorgerlo</p>
                            </div>
                            <button class="btn btn-orange-color text-light" onclick="openInvoice()">
                                Generar factura
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/carrito_3.js"></script>
</body>

</html>