<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - categoria gatos</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del fondo -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/categoriass.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
</head>

<body>
    <header>
        <nav id="navbar"></nav>
    </header>

    <main class="mt-5 p-5">
        <div class="container-fluid bg-yellow-cream-color p-5 mt-10 rounded-4">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href=".././public/productos_gatos_cuidados.html">
                    <img src="../../resources/img/png/opcion1-categoriagatos.png" class="uno img-fluid float-end py-4"
                        alt="categoria1">
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href=".././public/productos_gatos_entretenimiento.html">
                    <img src="../../resources/img/png/opcion2-categoriagatos.png" class="dos img-fluid py-4"
                        alt="categoria2">
                        </a>
                    <div class="mt-4">
                        <a href=".././public/productos_gatos_comida.html">
                        <img src="../../resources/img/png/opcion3-categoriagatospng.png" class="tres img-fluid"
                            alt="categoria3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
</body>

</html>