<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Encabezado -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de compra</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
    <!-- Agregamos el archivo css del historial -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/historial_compras.css">
</head>

<body>
    <header>
        <!-- Encabezado de la página -->
        <nav id="navbar_perfil"></nav><!-- Aquí se incluirá el menú -->
    </header>

    <main>
        <!-- Sección principal de la página -->
        <div class="container-fluid pt-5">
            <br>
            <!-- Título de la sección de historial de compras -->
            <div class="p-5">
                <h3><b>Historial de compras</b></h3>
                <h6>Mis Compras</h6>
            </div>

            <!-- Contenedor principal del historial de compras -->
            <div class="container shadow p-4 mt-4 rounded-4 contenedor_historial">
                <!-- Entradas de historial de compras -->
                <!-- Entrada de historial de compra 1 -->
                <h5>
                    <b>13 de enero, 2024</b>
                </h5>
                <div class="row py-3">
                    <div class="col-1 py-2">
                        <img class="image-fluid" src="../../resources/img/png/historial_compra_img.png" alt="">
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col-9 col-lg-11 py-3">
                                <h6><b>Bolsa pedigree - Perro mayor</b></h6>
                                <div class="row">
                                    <div class="col-8 col-lg-4">
                                        <p class="fs-6">Cantidad: 2 Unidades</p>
                                    </div>
                                    <div class="col-8 col-lg-4 ">
                                        <p class="fs-6">Precio Individual: $20.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-1">
                                <h5 class="py-4"><b>$40.00</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Entrada de historial de compra 2 -->
                <div class="row py-3">
                    <div class="col-1 py-2">
                        <img class="image-fluid" src="../../resources/img/png/historial_compra_img.png" alt="">
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col-9 col-lg-11 py-3">
                                <h6><b>Bolsa pedigree - Perro mayor</b></h6>
                                <div class="row">
                                    <div class="col-8 col-lg-4">
                                        <p class="fs-6">Cantidad: 2 Unidades</p>
                                    </div>
                                    <div class="col-8 col-lg-4 ">
                                        <p class="fs-6">Precio Individual: $20.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-1">
                                <h5 class="py-4"><b>$40.00</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Entrada de historial de compra 3 -->
                <div class="row py-3">
                    <div class="col-1 py-2">
                        <img class="image-fluid" src="../../resources/img/png/historial_compra_img.png" alt="">
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col-9 col-lg-11 py-3">
                                <h6><b>Bolsa pedigree - Perro mayor</b></h6>
                                <div class="row">
                                    <div class="col-8 col-lg-4">
                                        <p class="fs-6">Cantidad: 2 Unidades</p>
                                    </div>
                                    <div class="col-8 col-lg-4 ">
                                        <p class="fs-6">Precio Individual: $20.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-1">
                                <h5 class="py-4"><b>$40.00</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Entrada de historial de compra 4 -->
                <hr class="py-3">
                <h5>
                    <b>15 de enero, 2024</b>
                </h5>
                <div class="row py-3">
                    <div class="col-1 py-2">
                        <img class="image-fluid" src="../../resources/img/png/historial_compra_img.png" alt="">
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col-9 col-lg-11 py-3">
                                <h6><b>Bolsa pedigree - Perro mayor</b></h6>
                                <div class="row">
                                    <div class="col-8 col-lg-4">
                                        <p class="fs-6">Cantidad: 2 Unidades</p>
                                    </div>
                                    <div class="col-8 col-lg-4 ">
                                        <p class="fs-6">Precio Individual: $20.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-1">
                                <h5 class="py-4"><b>$40.00</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </main>

    <!-- Espacio adicional en la parte inferior de la página -->
    <div class="mt-5 p-5">

    </div>

    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
</body>

</html>