<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Encabezado -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de compra</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
    <!-- Agregamos el archivo css del historial -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/historial_compras.css">
</head>

<body>
    <header>
        <!-- Encabezado de la página -->
        <nav id="navbar"></nav><!-- Aquí se incluirá el menú -->
    </header>

    <main>
        <!-- Sección principal de la página -->
        <div class="container-fluid pt-5">
            <br>
            <!-- Título de la sección de historial de compras -->
            <div class="p-5">
                <h3><b>Historial de compras</b></h3>
                <h6>Mis Compras</h6>
            </div>

            <!-- Contenedor principal del historial de compras -->
            <div class="container shadow p-4 mt-4 rounded-4 contenedor_historial">
                <div id="historialContainer">
                    
                </div>
            </div>

        </div>
    </main>

    <!-- Espacio adicional en la parte inferior de la página -->
    <div class="mt-5 p-5">

    </div>

    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript"  src="../../node_modules/vanilla-text-mask/dist/vanillaTextMask.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/historial.js"></script>
</body>

</html>