<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - Home</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css"> 
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/home.css">  
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/static_components/menu_public.css">
</head>
<body class="bg-beige-color">
    <header>
        <nav id="navbar"></nav>
    </header>
    
    <div class="mt-5 p-5">
            <div class="row d-flex align-items-center">
                <div class="col-sm-12 col-md-8 py-4" >
                    <div class="contenedor_img1 p-5">
                        <h1 class="text-end text-yellow-color fw-bold">HUELLITAS PET’S</h1>
                        <p class="text-end text-light">¡Descubre  los mejores precios para <br> los consentidos de la casa!</p>
                        <img class="float-end mt-5 p-2" src="../../resources/img/png/huellitas_logo_without_text.png" width="70px">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="contenedor_img2 p-4">
                        <h3 class="text-end text-light fw-bold">Calidad y confianza</h3>
                        <p class="text-end text-light small">“Que hasta sus huellitas sean felices”</p>
                    </div>
                </div>
            </div>  

            <p class="fs-5 fw-semibold mt-4">Encuentra los mejores productos para tus mascotas</p>

            <!-- Mascota -->
            <div class="bg-skin-color rounded-5 p-3">
                <div class="row d-flex justify-content-center align-items-center gx-5 gy-5">
                    <div class="col-auto">
                        <img src="../../resources/img/png/perro_home.png" alt="">
                        <div class="text-center mt-3">
                            <a href="" class="btn btn-orange-color text-light d-grid grap-5">Gatos</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="../../resources/img/png/cat_home.png" alt="">
                        <div class="text-center mt-3">
                            <a href="" class="btn btn-orange-color text-light d-grid grap-5">Gatos</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Titulo de productos -->
            <div class="text-center mt-5 mb-3">
                <h2 class="fw-bold">Productos</h2>
                <p>Explora nuestros productos y conciente a tus peluditos</p>
            </div>

            <div>
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../../resources/img/png/picture.png" class="card-img-top p-4" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">

                    </div>
                </div>
            </div>
              
    </div>

    <!-- <footer id="footer"></footer> -->

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>   
</body>
</html>