<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Encabezado -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
    <!-- Agregamos el archivo css de perfil -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/perfil.css">
</head>

<body>
    <!-- Encabezado de la página -->
    <header>
        <nav id="navbar"></nav><!-- Aquí se incluirá el menú -->
    </header>

    <main>
        <!-- Sección principal de la página -->
        <div class="container-fluid pt-5">
            <br>
            <!-- Título de la página -->
            <h5 class="p-5">
                <img src="../../resources/img/png/rectangulo_naranja.png">Perfil
            </h5>
            <!-- Contenedor principal -->
            <div class="container shadow p-4 mt-4 rounded-4 color_conteiner_central">
                <div class="row">
                    <!-- Columna izquierda: Imagen de perfil -->
                    <div class="col-lg-4 col-md-6 col-sm-7 p-5">
                        <form action="perfil_editar_imagen" id="perfil_cliente_vista">
                            <img id="imagen" class="img-fluid">
                            <br>
                            <br>
                        </form>
                    </div>
                    <!-- Columna derecha: Información del perfil -->
                    <div class="col-lg-7 col-md-5 col-sm-8 p-5">
                        <h5><b>Nombre</b></h5>
                        <p class="text-grey" id="nombreCliente"></p>
                        <br>
                        <h5><b>Correo</b></h5>
                        <p class="text-grey" id="correoCliente"></p>
                        <br>
                        <h5><b>Teléfono</b></h5>
                        <p class="text-grey" id="telefonoCliente"></p>
                        <br>
                        <h5><b>Dirección</b></h5>
                        <p class="text-grey" id="direccionCliente"></p>
                        <br>
                        <h5><b>DUI</b></h5>
                        <p class="text-grey" id="duiCliente"></p>
                        <br>
                        <!-- Botones de acción (Agregar, Ocultar) -->
                        <a href="../../views/public/perfil_editar.html"><button type="button"
                                class="btn btn-orange-color text-white"><img class="img_btn_perfil"
                                    src="../../resources/img/png/editar_btn_perfil.png" alt=""> Editar</button></a>
                        <a href="../../views/public/actualizar_contra.html">
                            <button type="button" class="btn btn-red-color text-white"><img class="img_btn_perfil"
                                    src="../../resources/img/png/actualizar_contrasenia_btn_img.png" alt=""> Actualizar
                                Contraseña</button>
                        </a>
                        <br>
                    </div>
                </div>
                <h5><b>Empezo</b></h5>
                <p class="text-grey" id="fechaInicioCliente"></p>
            </div>
        </div>
    </main>

    <!-- Espacio adicional en la parte inferior de la página -->
    <div class="mt-5 p-5">

    </div>

    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/perfil_ver.js"></script>
</body>

</html>