<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - productos perro comida</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
    <!-- Agregamos el archivo css de la página-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/productos.css">
</head>

<body>
    <!-- Encabezado de la página -->
    <header>
        <!-- Barra de navegación -->
        <nav id="navbar"></nav>
        <!-- Contenedor para la sección de productos de perros -->
        <div class="container-fluid bg-orange-cream-color text-white mt-5 p-3">
            <!-- Encabezado de la sección -->
            <div class="row mt-5 ms-5 mb-3">
                <!-- Columna para la imagen del encabezado -->
                <div class="col-1 px-5 text-end">
                    <img src="../../resources/img/png/dog_products.png" width="90px">
                </div>
                <!-- Columna para el título del encabezado -->
                <div class="col-11">
                    <h1 class="p-3 text-start">
                        Perros
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="mt-0 p-5">
        <!-- Fila para el filtro de marcas -->
        <div class="row">
            <!-- Columna para el filtro de marcas -->
            <div class="col-lg-4 col-sm-12 col-md-12">
                <!-- Subcontenedor para el filtro -->
                <div class="row">
                    <!-- Columna para el título del filtro -->
                    <div class="col-12">
                        <p class="fw-bold">Filtrar por marcas</p>
                    </div>
                    <!-- Columna para el dropdown de marcas -->
                    <div class="col-12">
                        <!-- Dropdown para seleccionar la marca -->
                        <div class="dropdown d-grid grap-2" id="DropDown_ModificarPed" name="DropDown_ModificarPedN">
                            <button class="btn bg-white dropdown-toggle shadow rounded-5 text-start" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span id="MarcaS">Elige una marca</span>
                            </button>

                            <!-- Opciones del dropdown -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" id="pedigreeoption"> Pedigree</a>
                                <a class="dropdown-item" href="#" id="Rufooption"> Rufo</a>
                                <a class="dropdown-item" href="#" id="Doguioption"> Dogui</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <p class="fw-bold">Filtrar por categorias</p>
                    </div>
                    <div class="col-12">
                        <div class="dropdown d-grid grap-2 " id="DropDown_ModificarPed" name="DropDown_ModificarPedN">
                            <button class="btn bg-white dropdown-toggle shadow rounded-5 text-start" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span id="CategoriaS">Elige una categoria</span>
                            </button>

                            <!-- Opciones del dropdown -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" id="comidaoption"> Comida</a>
                                <a class="dropdown-item" href="#" id="saludoption"> Salud</a>
                                <a class="dropdown-item" href="#" id="entretemientooption"> Entretenimiento</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid bg-white p-5 d-flex justify-content-center rounded-5">
            <div class="row d-flex gy-5">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <!-- Enlace para redireccionar a otra página cuando se hace clic en el contenedor -->
                    <a href="../public/producto.html">
                        <!-- Contenedor de la tarjeta del producto -->
                        <div class="p-3 card rounded-4 shadow">
                            <!-- Contenedor para la imagen del producto -->
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="../../resources/img/png/producto2.png" width="250px" height="290px"
                                    class="p-3" alt="...">
                            </div>
                            <!-- Cuerpo de la tarjeta -->
                            <div class="card-body">
                                <!-- Fila para el precio y las calificaciones -->
                                <div class="row">
                                    <!-- Columna para el precio -->
                                    <div class="col-6">
                                        <h5 class="card-title fw-bold">$50</h5>
                                    </div>
                                    <!-- Columna para las calificaciones -->
                                    <div class="col-6">
                                        <!-- Imágenes de las calificaciones -->
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    </div>
                                </div>
                                <!-- Marca y nombre del producto -->
                                <p class="card-text small fw-light mb-0 mt-1">PURINA</p>
                                <p class="fw-bold">Bolsa Propac - Perro joven</p>
                                <!-- Fila para los botones de acción -->
                                <div class="row">
                                    <!-- Columna para el botón "Ver producto" -->
                                    <div class="col-9">
                                        <div class="text-start">
                                            <!-- Botón para ver más detalles del producto -->
                                            <button type="button" class="btn btn-orange-color text-white .fs-6 text"
                                                id="Ver_producto_perros">Ver producto</button>
                                        </div>
                                    </div>
                                    <!-- Columna para el ícono del carrito de compras -->
                                    <div class="col-3">
                                        <div class="container text-end">
                                            <!-- Ícono del carrito de compras -->
                                            <img src="../../resources/img/png/carrito_naranja.png" width="30px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="p-3 card rounded-4 shadow">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/producto2.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title fw-bold">$50</h5>
                                </div>
                                <div class="col-6">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">PURINA</p>
                            <p class="fw-bold">Bolsa Propac - Perro joven</p>
                            <div class="row">
                                <div class="col-9">
                                    <div class="text-start">
                                        <button type="button" class="btn btn-orange-color text-white .fs-6 text"
                                            id="Ver_producto_perros">Ver producto</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container text-end">
                                        <img src="../../resources/img/png/carrito_naranja.png" width="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="p-3 card rounded-4 shadow">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/producto2.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-6">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">PEDIGREE</p>
                            <p class="fw-bold">Bolsa Pedigree - Perro mayor</p>
                            <div class="row">
                                <div class="col-9">
                                    <div class="text-start">
                                        <button type="button" class="btn btn-orange-color text-white .fs-6 text"
                                            id="Ver_producto_perros">Ver producto</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container text-end">
                                        <img src="../../resources/img/png/carrito_naranja.png" width="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="p-3 card rounded-4 shadow">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/producto2.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-6">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                            <p class="fw-bold">Bolsa Pedigree - Perro mayor</p>
                            <div class="row">
                                <div class="col-9">
                                    <div class="text-start">
                                        <button type="button" class="btn btn-orange-color text-white .fs-6 text"
                                            id="Ver_producto_perros">Ver producto</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container text-end">
                                        <img src="../../resources/img/png/carrito_naranja.png" width="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="p-3 card rounded-4 shadow">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/producto2.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-6">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                            <p class="fw-bold">Bolsa Pedigree - Perro mayor</p>
                            <div class="row">
                                <div class="col-9">
                                    <div class="text-start">
                                        <button type="button" class="btn btn-orange-color text-white .fs-6 text"
                                            id="Ver_producto_perros">Ver producto</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container text-end">
                                        <img src="../../resources/img/png/carrito_naranja.png" width="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <!-- Agregamos el js de la página-->
    <script src="../../controllers/public/productos.js"></script>
</body>

</html>