<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - productos perro comida</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">

    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/static_components/menu_public.css">
</head>

<body>
    <header>
        <nav id="navbar"></nav>
    </header>

    <main class="mt-5 p-5">
        <div class="container-fluid bg-white p-5 d-flex justify-content-center rounded-5">
            <div class="row d-flex gy-5">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="p-3 card rounded-4 shadow" style="width: 18rem;">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/product2.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-5">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                            <p class="fw-bold">Bolsa Maxxi Chucho - Perro adulto</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="p-3 card rounded-4 shadow" style="width: 18rem;">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/product1.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-5">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                            <p class="fw-bold">Bolsa Maxxi Chucho - Perro adulto</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="p-3 card rounded-4 shadow" style="width: 18rem;">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../resources/img/png/product1.png" width="250px" height="290px" class="p-3"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title fw-bold">$15</h5>
                                </div>
                                <div class="col-5">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                </div>
                            </div>
                            <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                            <p class="fw-bold">Bolsa Maxxi Chucho - Perro adulto</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="col-sm-12 col-md-3">
                        <div class="p-3 card rounded-4 shadow" style="width: 18rem;">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="../../resources/img/png/product3.png" width="250px" height="290px" class="p-3"
                                    alt="...">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="card-title fw-bold">$15</h5>
                                    </div>
                                    <div class="col-5">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                        <img src="../../resources/img/png/start_on.png" width="14px" height="14px">
                                    </div>
                                </div>
                                <p class="card-text small fw-light mb-0 mt-1">Maxi Chucho</p>
                                <p class="fw-bold">Bolsa Maxxi Chucho - Perro adulto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
</body>

</html>