<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - productos perro comida</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">

    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/static_components/menu_public.css">
</head>

<body>
    <header>
        <nav id="navbar"></nav>
    </header>

    <main class="mt-5 p-5">
        <div class="row mt-4 justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-1 d-flex align-items-center"> <!-- Ajustes en el padding vertical y horizontal -->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
</body>

</html>