<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo">Huellitas pets - producto</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
    <!-- Agregamos el archivo css de la página en especifico-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/productos.css">
</head>

<body>
    <header>
        <nav id="navbar"></nav>
    </header>

    <main class="mt-5 p-5">
        <div class="container bg-white p-5 d-flex rounded-5">
            <div class="row">
                <!--Aqui ira el código del producto-->
                <div class="col-12 d-flex align-items-end">
                    <button class="btn p-0 border-0 shadow-none" onclick="volver()" id="productoEspecifico">
                        <div class="row">
                            <div class="col-1 text-end px-0">
                                <img src="../../resources/img/png/flecha.png" class="img-fluid">
                            </div>
                            <div class="col-11 text-start">
                                <p class="p-0 m-0 text-black font-smallest">
                                    Regresar a los productos
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <!--Aqui ira el contenido de la imagen y la info del producto-->
                <div class="col-12 align-items-center mt-5" id="contenedorinformacion">

                </div>


                <!--Aquí ira el código de la valoración-->
                <div class="col-12 py-5">
                    <h3 class=""><b>Valoración</b></h3>
                    <br>
                    <!-- Formulario de valoración -->
                    <form action="" id="saveForm">
                        <div class="text-center">
                            <p>Tu puntuación sobre este producto</p>
                            <!-- Estrellas para la valoración -->
                            <div>
                                <!-- Estrella 1 -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor"
                                    class="bi bi-star-fill star" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <!-- Estrella 2 -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor"
                                    class="bi bi-star-fill star" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <!-- Estrella 3 -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor"
                                    class="bi bi-star-fill star" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <!-- Estrella 4 -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor"
                                    class="bi bi-star-fill star" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <!-- Estrella 5 -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor"
                                    class="bi bi-star-fill star" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h6><b>Dinos tu opinión acerca del producto</b></h6>
                        <!-- Campo de texto para el comentario -->
                        <div class="input-group py-1">
                            <textarea class="form-control mensaje_input" id="comentarioValoracion"
                                name="comentarioValoracion" rows="5" aria-label="With textarea"
                                placeholder="Escribe un comentario..."></textarea>
                        </div>
                        <!-- Botón para enviar el comentario -->
                        <div class="py-4">
                            <button type="submit" class="btn btn-orange-color text-white">Envíar comentario</button>
                        </div>
                    </form>
                </div>
                <hr>
                <br>
                <br>
                <!-- Título de comentarios -->
                <h5><b>Comentarios</b></h5>
                <div id="comentariosValoraciones"></div>
                
            </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos la ruta para agregar el footer -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <!-- Agregamos el js de la página-->
    <script src="../../controllers/public/productos.js"></script>

    
</body>

</html>