<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulaso">Huellitas pets - productos gatos comida</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
</head>

<body>
    <header>
        <nav id="navbar"></nav>
        <div class="container-fluid bg-orange-cream-color text-white mt-5 p-3">
            <div class="row mt-5 ms-5 mb-3">
                <div class="col-auto">
                    <img src="../../resources/img/png/cat_products.png" width="90px">
                </div>
                <div class="col-auto">
                    <h1 class="p-3 text-start">
                        Gatos
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main class="mt-0 py-5">
        <div class="row container">
            <div class="col-lg-5 col-sm-12 col-md-12 px-md-5">
                <div class="row">
                    <div class="col-12">
                        <p class="fw-bold">Filtrar por marcas</p>
                    </div>
                    <div class="col-12">
                        <div class="dropdown d-grid grap-2" id="DropDown_ModificarPed" name="DropDown_ModificarPedN">
                            <select class="form-select shadow" id="selectMarcas" onchange="recargarConteiner('readProductsByMarca')">
                                <option value="0">Selecciona una marca</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <p class="fw-bold">Filtrar por categorias</p>
                    </div>
                    <div class="col-12">
                        <div class="dropdown d-grid grap-2 " id="DropDown_ModificarPed" name="DropDown_ModificarPedN">
                            <select class="form-select shadow" id="selectCategorias" onchange="recargarConteiner('readProductsByCategoria')">
                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container bg-white p-5 rounded-5">
            <div class="row" id="contenedorPadre">
                <!-- Aquí iran los productos -->
            </div>
        </div>
    </main>

    <!-- Agregamos nuestro footer a la pantalla -->
    <footer id="footer"></footer>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el footer -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/public.js"></script>
    <!-- Agregamos el js de la página-->
    <script src="../../controllers/public/productos_categoria.js"></script>
</body>

</html>