<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas pets - actualizar contraseña</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/recuperar_contra.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/public/static_components/menu_public.css">
</head>

<body>
    <!-- Encabezado de la página -->
    <header>
        <!-- Menú de navegación -->
        <nav id="navbar"></nav>
    </header>

    <!-- Contenido principal -->
    <main class="mt-5 p-5">
        <!-- Contenedor principal -->
        <div class="container mt-5">
            <!-- Fila para alinear contenido -->
            <div class="row justify-content-md-end">
                <!-- Columna para el formulario -->
                <div class="col-12 col-md-6 text-center">
                    <!-- Título y descripción del formulario -->
                    <div>
                        <h2 class="fw-semibold">Recuperar Contraseña</h2>
                        <p class="fw-normal fs-5">Ingresar tu correo eléctronico asociado a tu cuenta.</p>
                    </div>
                    <!-- Formulario de recuperación de contraseña -->
                    <form action="" id="recuperacion_contrasenia" class="mt-5 p-4">
                        <!-- Campo de correo electrónico -->
                        <div class="mb-5">
                            <label for="email" class="form-label fw-semibold">Correo</label>
                            <input type="email" id="email" name="email"
                                class="form-control form-control-lg shadow rounded-4 bg-white">
                        </div>
                        <!-- Botón para enviar el código de recuperación -->
                        <div class="text-center">
                            <button class="btn btn-orange-color btn-lg text-light mb-2 d-grid gap-2 col-sm-12 col-md-12 mx-auto rounded-4" id="boton">Enviar código</button>
                            <!-- Instrucciones adicionales -->
                            <p class="fw-semibold">Recuerda revisar tu bandeja de correos para ver el código que
                                debes ingresar.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos el controlador de la vista -->
    <script type="text/javascript" src="../../controllers/public/recuperacion_contra_1.js"></script>
</body>

</html>