.picture{
    width: 160px;
    height: 155px;
}

.text{
    font-size: 70px;
}

/* Tamaño de la columna que tendrá la lista */
.third_col{
    height: 100px;
}

/* Color de fondo y de texto que tendrá la lista */
.list-group-item {
    background-color: rgb(238, 150, 75);
    color: white;
  }