.container-fluid{
    border-radius: 10px;
}

.picture{
    width: 160px;
    height: 155px;
}

.button1{
    width: 40%;
}

hr{
    color: rgb(255, 255, 255);
    border-width: 3px;
}

.third_col{
    height: 100px;
}

.list-group-item {
    background-color: rgb(238, 150, 75);
    color: white;
  }

  