:root {
    --primary-color: rgb(244, 211, 94);
    --secundary-color: rgb(238, 150, 75);
    --tertiary-color: rgb(250, 240, 202);
    --border-color: rgb(249, 87, 56);
}

body{
    background-color: var(--primary-color)
}