/* Centrar todo mi contenido tanto horizontal como verticalmente en toda la pantalla*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight:500
}


#loginButton{
    width: 100%;
}

.btn {
    background-image: none;
}
@media (min-width: 992px) {
    .perritolindo {
        margin-right: 15px; /* Ajustamos el margen derecho para separar la imagen del texto */
    }
}

@media (min-width: 992px) {
    .perritolindo {
        margin-left: 15px; /* Ajustamos el margen derecho para separar la imagen del texto */
    }
}

 /* estilos.css */
.input-caracter {
    width: 20px; /* Ancho específico */
    height: 40px; /* Alto específico */
    text-align: center; /* Centrar texto en el input */
    font-size: 20px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 8px; /* Radio de borde */
}