.bg-gray-color {
    background-color: #F6F3F3; /* Tu color gris en hexadecimal */
}

.custom-dropdown-menu .dropdown-item {
    color: black; /* Cambia el color del texto a negro */
}

.custom-bold-label {
    font-weight: bold;
}

.dropdown-menu .dropdown-item {
    background-color: transparent !important;
    border: none !important;
    padding: 0.5rem 1rem !important;
}

