.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 260px;
    min-height: 50px;
}

canvas {
    max-height: 260px;
    min-height: 50px;
    width: auto;
}