.custom-margin-right {
    margin-right: 8px;
}

.tamanio_imagen{
    width: 40px;
    left: auto;
}

.swicth_agregar{
    margin-left: 80px;
}

.tamanio_imagen_botones{
    width: 20px;
    left: auto;
}

.tamanio_edicion_botones{
    width: 30px;
    left: auto;
}

.barra_busqueda{
    margin-left: 50px;
}

.boton_busqueda{
    float: right;
}

.tamanio_imagen_tabla{
    width: 55px;
    left: auto;
}

.tamanio_imagen_agregar{
    width: 120px;
    left: auto;
}

th{
    --bs-table-color: var(--bs-light);
    background-image: linear-gradient(180deg, rgb(238, 150, 75), rgba(235, 195, 81, 1));
}
