// Importacion de todos los componentes de boostrap para poder cambiarlos
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
// Importacion de la fuente que se esta utilizando
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Cambio de letra
$font-family-sans-serif:  "Inter", sans-serif;

// PALETA DE COLORES
// Declaración de variables para asignación de colores

$orange-cream-color: (
  "orange-cream-color":   rgb(255, 191, 105)
);

$gray-color: (
  "gray-color": rgb(246, 243, 243) 

); 

$yellow-color: (
  "yellow-color": rgb(244, 211, 94)

);

$orange-color: (
  "orange-color": rgb(238, 150, 75)

);

$skin-color: (
  "skin-color": rgb(250, 240, 202)
);

$red-color: (
  "red-color": rgb(249, 87, 56)
);

$beige-color: (
  "beige-color": rgb(254, 246, 240)
);

$brown-color: (
  "brown-color": rgb(72, 47, 36)
);

$green-color: (
  "green-color": rgb(173, 240, 141)
);



// Agregar variables al tema de colores de boostrap, mergearlas
$theme-colors: map-merge($theme-colors, $orange-cream-color);
$theme-colors: map-merge($theme-colors, $orange-color);
$theme-colors: map-merge($theme-colors, $skin-color);
$theme-colors: map-merge($theme-colors, $red-color);
$theme-colors: map-merge($theme-colors, $yellow-color);
$theme-colors: map-merge($theme-colors, $gray-color);
$theme-colors: map-merge($theme-colors, $beige-color);
$theme-colors: map-merge($theme-colors, $brown-color);
$theme-colors: map-merge($theme-colors, $green-color);


//Cambio en el estilo de los input
$input-bg: #F6F3F3;
$input-border-color: #F6F3F3;
$input-focus-bg: $input-bg;
$input-focus-border-color: #afacac;
$input-focus-box-shadow: 0 0 0 0.25rem rgba(127, 127, 129, 0.25);

// Cambio en el estilo de los input disabled
$input-disabled-bg: $input-bg;

$form-switch-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");;
$form-switch-focus-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

// Cambio en el estilo de los select input
$form-select-bg: #F6F3F3;
$form-select-border-color: #F6F3F3;
$form-select-focus-border-color: #afacac;
$form-select-focus-box-shadow:0 0 0 0.25rem rgba(127, 127, 129, 0.25);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
