body{
    background-image: url(../../img/svg/perritolindo.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
      background-image: none;
  }}

 
