<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Dashboard</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/dashboard.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
</head>

<body class="mt-5">
    <!-- Insertar nuestro navbar a esta pantalla usando js -->
    <header>
        <div id="navbar"></div>
    </header>
    <main>
        <div class="container_one p-4 ">
            <!-- Contenedor que tiene el saludo de bienvenida e input de búsqueda -->
            <div class="shadow p-4 mt-3  mb-3 bg-yellow-color rounded-4">
                <div class="row d-flex justify-content-center align-items-center gy-2">
                    <div class="col-auto">
                        <img src="../../resources/img/svg/dog.svg" alt="">
                    </div>
                    <div class="col-sm-12 col-md-10 align-self-center">
                        <div class="row">
                            <h1 class="fw-bold text-light" id="greetings"></h1>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <!-- Input para buscador -->
                                <form class="d-flex" id="searchDashboard" name="search_dashboard">
                                    <input class="form-control me-2 bg-white" role="search" type="search"
                                        aria-label="Search" id="search_input" name="searchInput"
                                        placeholder="Escribe el nombre de algún producto o usuario">
                                    <button class="btn btn-orange-color text-light" type="submit"
                                        id="btn_buscador_dashboard" name="btnBuscadorDashboard">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-auto">
                    <img src="../../resources/img/svg/orders.svg" width="70">
                </div>
                <div class="col">
                    <h3 class="fs-2 fw-semibold mb-0">Ventas de este mes</h3>
                    <p class="fw-normal">Revisa las gráficas de venta que ha tenido Huellitas pet’s en estos meses.
                    </p>
                    <!-- Codigo para agregar el dropdown -->
                    <div class="dropdown">
                        <a class="btn btn-skin-color dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Septiembre
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Enero</a></li>
                            <li><a class="dropdown-item" href="#">Febrero</a></li>
                            <li><a class="dropdown-item" href="#">Marzo</a></li>
                            <li><a class="dropdown-item" href="#">Abril</a></li>
                            <li><a class="dropdown-item" href="#">Mayo</a></li>
                            <li><a class="dropdown-item" href="#">Junio</a></li>
                            <li><a class="dropdown-item" href="#">Julio</a></li>
                            <li><a class="dropdown-item" href="#">Agosto</a></li>
                            <li><a class="dropdown-item" href="#">Septiembre</a></li>
                            <li><a class="dropdown-item" href="#">Octubre</a></li>
                            <li><a class="dropdown-item" href="#">Noviembre</a></li>
                            <li><a class="dropdown-item" href="#">Diciembre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contiene la gráfica e información de perfil del admin -->
            <!-- gráfica -->
            <div class="row p-3 gy-4">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="shadow p-4 bg-terciary rounded">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <!-- Información del perfil de admin -->
                <div class="col-sm-12 col-md-4 bg-skin-color p-3 rounded-4 d-flex align-items-center">
                    <div class="col">
                        <div class="row p-4 d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="picture rounded-circle" src="../../resources/img/png/picture.png"
                                    id="adminImg">
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a href="../../views/admin/settings.html"
                                    class="btn btn-red-color text-light p-2 rounded-5">Ver mi perfil</a>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <p class="fw-semibold fs-5 mt-3 mb-1" id="adminName"></p>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <p id="emailAdmin"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Información de las ventas contenidas en una row-->
            <div class="row p-3 justify-content-center gy-4">
                <!-- Col 1 -->
                <div class="col-md-3 col-lg-3 col-sm-12 bg-orange-color shadow p-3 rounded-4">
                    <div class="d-flex align-items-center p-2">
                        <img class="me-3" src="../../resources/img/svg/people.svg" alt="">
                        <span class="fw-semibold text-light fs-4">Nuevos usuarios</span>
                    </div>
                    <p class="text d-flex align-items-center justify-content-center fw-bold text-light">5</p>
                </div>
                <!-- Col 2 -->
                <div class="col-md-4 col-lg-4 col-sm-12 bg-orange-color rounded-4 mx-5 shadow p-3 rounded-4">
                    <div class="d-flex align-items-center p-2">
                        <img class="me-3" src="../../resources/img/svg/orders_white.svg" alt="">
                        <span class="fw-semibold text-light fs-4 ">Producto más vendido</span>
                    </div>
                    <div class="p-3">
                        <p class=" fs-5 fw-light text-light mb-0">Alimentación</p>
                        <img src="../../resources/img/svg/line.svg" alt="">
                        <p class=" fs-5 fw-semibold text-light">Saco de Pedigree</p>
                    </div>
                </div>
                <!-- Col 3 -->
                <div class="col-md-4 col-lg-4 col-sm-12 bg-orange-color rounded-4 overflow-auto shadow p-3 rounded-4">
                    <div class="d-flex align-items-center p-2 grid gap-2">
                        <img class="me-3" src="../../resources/img/svg/edit.svg" alt="">
                        <span class="fw-semibold text-light fs-4">Categorías</span>
                        <!-- Con d-none d-lg-block el boton no se vera en pantallas pequeñas -->
                        <a href="../../views/admin/scrud_categorias.html"
                            class="btn btn-light text-orange-color p-2 rounded-5 mx-3 d-none d-lg-block">Ver más</a>
                    </div>
                    <!-- Lista de categorías -->
                    <div class="third_col">
                        <!-- list-group-flush eliminar todos los bordes redondeados  -->
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">Salud y cuidado</li>
                            <li class="list-group-item">Alimentación</li>
                            <li class="list-group-item">Entretenimiento</li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="../../resources/js/chart.umd.js"></script>
        </div>
    </main>
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para las alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Agregamos el controlador de la pagina web -->
    <script type="text/javascript" src="../../controllers/admin/dashboard.js"></script>
</body>

</html>