<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Login</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Hoja de estilos css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/index.css">
</head>

<body class="bg-yellow-color">
    <main class="container p-4">
        <!-- Se centra la row tanto horizontalmente como veticalmente -->
        <!-- Formuluraio para iniciar sesion -->
        <div class="row justify-content-center align-items-center d-none" id="containerOne">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <img src="../../resources/img/png/huellitas_logo.png" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <!-- Formulario -->
                <form id="loginForm">
                    <!-- Row que contiene el icono y el input -->
                    <div class="row align-items-center">
                        <div class="col-auto ">
                            <img src="../../resources/img/svg/eye.svg" width="35px">
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <label for="name_login" class="form-label">Alias</label>
                                <input type="text" class="form-control bg-skin-color p-2" id="name_login"
                                    name="nameLogin" required>
                            </div>
                        </div>
                    </div>
                    <!-- Row que contiene el icono y el input -->
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../../resources/img/svg/lock.svg" width="35px">
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <label for="password_login" class="form-label">Contraseña</label>
                                <input type="password" class="form-control bg-skin-color p-2" id="password_login"
                                    name="passwordLogin" required>
                            </div>
                        </div>
                    </div>
                    <!-- Boton para ingresar, d-grid gap-2 toma todo el espacio horizontal de la col-->
                    <div class="d-grid gap-2 mt-5">
                        <button id="loginButton" type="submit"
                            class="btn btn-orange-color text-light p-2 rounded-3">Ingresar</button>
                        <a class="fw-normal text-decoration-none text-dark fs-6 text-center"
                            href="../admin/recuperacion_contra_1.html">¿Has olvidado tú contraseña?</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Formulario para el primer uso -->
        <div class="p-5 d-none" id="containerSecond">
            <div class="row gx-5 d-flex align-items-center ">
                <div class="col-sm-12 col-md-4 col-lg-4 d-none d-md-block">
                    <div class="bg-orange-color text-light p-2 rounded-3">
                        <h4 class="fw-semibold text-center mt-2">Registrar primer usuario</h4>
                        <p class="text-center fw-light">¡Es un gusto tenerte en Huellitas Pets!</p>
                    </div>
                    <img src="../../resources/img/png/huellitas_logo.png" class="img-fluid ">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 shadow p-4 rounded-4">
                    <form id="signUpForm">

                        <div class="text-center mb-4">
                            <div class="col-sm-12 col-md-auto">
                                <img class="picture rounded-circle" id="imagen"
                                    src="../../resources/img/png/rectangulo.png" width="120px" height="120px">
                            </div>
                            <div class="col mt-3">
                                <!-- Botón para cargar imagen -->
                                <input type="file" class="form-control" id="imgAdmin" name="imagenAdmin" hidden
                                    required>
                                <!-- Para que tenga el mismo funcionamiento del input file le ponemos el for y le agregamos el id del input file -->
                                <label class="btn btn-red-color text-light" for="imgAdmin">Cargar
                                    imagen</label>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreAdministrador" class="form-label">Nombre</label>
                                <input id="nombreAdministrador" type="text" name="nombreAdmin" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="apellidoAdministrador" class="form-label">Apellido</label>
                                <input id="apellidoAdministrador" type="text" name="apellidoAdmin" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="correoAdministrador" class="form-label">Correo</label>
                                <input id="correoAdministrador" type="email" name="correoAdmin" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="aliasAdministrador" class="form-label">Alias</label>
                                <input id="aliasAdministrador" type="text" name="aliasAdmin" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveAdministrador" class="form-label">Contraseña</label>
                                <input id="claveAdministrador" type="password" name="claveAdmin" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                            <input id="fechaRegistro" type="date" name="fechaRegistroAdmin" class="form-control" hidden>

                            <div class="text-center mt-5">
                                <button type="reset"
                                    class="btn btn-red-color text-light p-2 rounded-3 me-2">Cancelar</button>
                                <button type="submit"
                                    class="btn btn-orange-color text-light p-2 rounded-3 ">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>

</html>