<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Login</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Hoja de estilos css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/index.css">
    <!-- Iconos de boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body class="bg-yellow-color">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-5">
                <img src="../../resources/img/png/huellitas_logo.png" width="600px">
            </div>
            <div class="col-4">
                <form action="">
                    <div class="form" id="login">
                        <div class="row">
                            <div class="col-auto ">
                                <i class="bi bi-eye-fill" style="font-size: 2rem; color: black;"></i>
                            </div>
                            <div class="col">
                                <div class="mb-4">
                                    <label for="name" class="form-label">Alias</label>
                                    <input type="text" class="form-control bg-skin-color p-2" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <i class="bi bi-lock-fill" style="font-size: 2rem; color: black;"></i>
                            </div>
                            <div class="col">
                                <div class="mb-4">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control bg-skin-color p-2" id="password">
                                 </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container text-center mt-4">
                    <!--<button type="button" class="btn btn-orange-color text-light p-2" href="dashboard.html">Ingresar</button>
                    -->
                    <a id="loginButton" class="btn btn-orange-color text-light p-2" href="#">Ingresar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../controllers/admin/loginadmin.js"></script>
</body>

</html>