<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Login</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Hoja de estilos css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/index.css">
    <!-- Iconos de boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bg-yellow-color">
    <div class="container p-4">
        <!-- Se centra la row tanto horizontalmente como veticalmente -->
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <img src="../../resources/img/png/huellitas_logo.png" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <!-- Formulario -->
                <form action="" id="login_admin" name="loginAdmin">
                    <!-- Row que contiene el icono y el input -->
                    <div class="row align-items-center">
                        <div class="col-auto ">
                            <img src="../../resources/img/svg/eye.svg" width="35px">
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <label for="name_login" class="form-label">Alias</label>
                                <input type="text" class="form-control bg-skin-color p-2" id="name_login"
                                    name="nameLogin">
                            </div>
                        </div>
                    </div>
                    <!-- Row que contiene el icono y el input -->
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../../resources/img/svg/lock.svg" width="35px">
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <label for="password_login" class="form-label">Contraseña</label>
                                <input type="password" class="form-control bg-skin-color p-2" id="password_login"
                                    name="passwordLogin">
                            </div>
                        </div>
                    </div>
                    <!-- Boton para ingresar, d-grid gap-2 toma todo el espacio horizontal de la col-->
                    <div class="d-grid gap-2 mt-5">
                        <a id="loginButton" class="btn btn-orange-color text-light p-2 rounded-3" href="#">Ingresar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>
    </div>
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../controllers/admin/loginadmin.js"></script>
</body>

</html>