<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Productos</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
</head>

<body>
    <header>
        <div id="navbar"></div>
        <div class="container p-2 mt-5">
            <div class="row mt-5">
                <div class="col-auto">
                    <img src="../../resources/img/svg/products.svg" width="60px">
                </div>
                <div class="col">
                    <h2 class="fw-bold">Productos</h2>
                    <h5>Selecciona la mascota: </h5>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container d-flex justify-content-center align-items-center p-4">
            <div class="row gx-5 gy-5 text-center">
                <div class="col">
                    <img class="mb-4" src="../../resources/img/png/dog_products.png" width="300px">
                    <div>
                        <a onclick="navigateToPage('Perros')"
                            class="btn btn-red-color btn-lg text-light rounded-4 d-grid gap-2">Perros</a>
                    </div>
                </div>
                <div class="col">
                    <img class="mb-4" src="../../resources/img/png/cat_products.png" width="300px">
                    <div>
                        <a onclick="navigateToPage('Gatos')"
                            class="btn btn-red-color btn-lg text-light rounded-4 d-grid gap-2">Gatos</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Agregamos el controlador de la pagina web -->
    <script type="text/javascript" src="../../controllers/admin/menu_productos.js"></script>
</body>

</html>