<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Huellitas pets - recuperación de contraseña cambiar</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Hoja de estilos css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/index.css">
</head>

<body class="bg-skin-color">
    <main>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <!--Se pone la imagen que acompañará el formulario, es importante observar que existirán 2 columnas que ocuparán 
                6 y 6 espacios de la pantalla-->
                <div class="col-6 d-flex align-items-center">
                    <img src="../../resources/img/svg/recovery_password.svg" class="img-fluid">
                </div>
                <div class="col-auto d-flex justify-content-center p-4">
                    <div>
                        <!--Centramos el texto y lo ponemos en negrita-->
                        <h2 class="fw-semibold text-center">Recuperar contraseña</h2>
                        <!--Ponemos el texto en menor tamaño y centrado respecto a su columna-->
                        <p class="fw-normal text-center">Ingresa la nueva contraseña</p>
                        <div class="container p-5">
                            <!--Le damos nombre con id y name al form para luego utilizarlo en el backend-->
                            <form action="" id="recuperacion_contra_3" name="recuperacioncontra3">
                                <!--En este div se encuentra el input, el tipo de contenido del input, el label que esta arriba del input y la longitud del input-->
                                <div class="mb-4">
                                    <label for="Npass1_recuperacion" class="form-label">Nueva contraseña</label>
                                    <input type="password"
                                        class="form-control  form-control-lg bg-white p-2 shadow rounded-3"
                                        id="Npass1_recuperacion" name="Npass1Recuperacio">
                                </div>
                                <div>
                                    <!--En este div se encuentra el input, el tipo de contenido del input, el label que esta arriba del input y la longitud del input-->
                                    <label for="Npass2_recuperacion" class="form-label">Confirmación de
                                        contraseña</label>
                                    <input type="password"
                                        class="form-control bg-white form-control-lg p-2 shadow rounded-3"
                                        id="Npass2_recuperacion" name="Npass2Recuperacion">
                                </div>
                                <!--En este div se encuentra el boton de enviar cambiar contraseña, la página adonde redirecciona y el texto que esta debajo del botón-->
                                <div class="d-grid gap-2 mt-5">
                                    <a class="btn btn-orange-color text-light p-2 rounded-3"
                                        href="../admin/index_admin.html">Envíar</a>
                                    <div class="fw-semibold text-decoration-none text-dark text-center form-text">
                                        Guarda siempre tu contraseña en algún lugar seguro y no la olvides.
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>