<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Definimos el lenguaje para indicar que caracteres deberá leer -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - cupones</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!-- Agregamos su archivo css para el estilo de la tabla -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_marcas.css">
    <!-- Agregamos la libreria de los iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Agregamos el archivo css para estilizar los switch-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/switch_styles.css">
</head>

<body>
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/png/giftcardIcon.png" width="50px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Cupones</h2>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Buscador y boton de agregar -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <div class="col-md-6 col-lg-6">
                    <!--Ocupamos el evento oninput para que cuando se detecte que se esta escribiendo en el input llame a la funcion searchhRow-->
                    <input class="form-control rounded-4 shadow bg-white" oninput="searchRow()" type="search"
                        id="searchInput" name="search" placeholder="Buscar...">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Este texto solo se mostrara en pantallas pequeñas, el .d-none esconde elementos -->
                    <div class="d-md-none d-lg-none">
                        <p>Haz clíc en el siguiente botón para poder agregar un nuevo cupón.</p>
                    </div>
                    <!-- .float-left y end posiciona el boton a la izquieda o derecha de la pantalla dependiendo del tamaño -->
                    <button
                        class="btn btn-red-color btn-sm text-light float-sm-left float-md-end float-lg-end rounded-3 p-2"
                        data-bs-toggle="modal" onclick="openCreate()" type="button">
                        <img class="me-2" src="../../resources/img/png/boton_agregar.png" width="20px">
                        Agregar cupon
                    </button>
                </div>
            </div>
        </div>

        <!-- Empieza la programación de las tablas
      Primero se define las columnas con "th", "td" es para definir el contenido de cada columna-->
        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table align-middle text-center">
                    <!-- Encabezado de las tablas -->
                    <thead class="table table-responsive">
                        <tr>
                            <td colspan="7" id="rowsFound" hidden></td>
                        </tr>
                        <tr class="table-warning">
                            <!-- Las columnas habitualmente son estáticas, en este caso siempre serán estáticas -->
                            <th>Nombre del código</th>
                            <th>Fecha registro</th>
                            <th>Porcentaje %</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de la tabla -->
                    <tbody id="tableBody"></tbody>
                </table>
                <div id="anyTable"></div>
            </div>
        </div>



        <!--Modal para el boton de agregar cupon-->
        <div class="modal" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- El div que esta debajo del comentario indica el color de fondo del titulo del modal y el titulo -->
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center">
                            <h1 class="modal-title fs-5 text-white" id="modalTitle">Agregar cupón</h1>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- Aqui comienzan las preguntas e inputs del formulario y el boton para enviar esta información -->
                    <form id="saveForm" name="saveForm">
                        <div class="modal-body">
                            <input type="hidden" id="idCupon" name="idCupon">
                            <div class="row mt-3">
                                <div class="col-sm-12 col-md-6">
                                    <p class="fs-8 btn-orange-color fw-bold"> Código</p>
                                    <input type="text" class="form-control" placeholder="#####" aria-label="codigo"
                                        id="codigoCupon" name="codigoCupon" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p class="fs-8 btn-orange-color fw-bold"> Porcentaje</p>
                                    <input type="number" min="1" max="100" class="form-control" placeholder="100%"
                                        aria-label="porcentajeCupon" id="porcentajeCupon" name="porcentajeCupon"
                                        required>
                                </div>
                            </div>
                            <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                            <div class="form-check form-switch mt-3" id="switch_ActualizarCupon"
                                name="switch_ActualizarCuponN">
                                <label class="form-check-label fw-bold" for="estadoCupon">Cupón
                                    habilitado</label>
                                <input class="form-check-input bg-orange-color" type="checkbox" role="switch"
                                    id="estadoCupon" name="estadoCupon" checked>
                            </div>
                        </div>
                        <!-- Este botón servirá para enviar la información del formulario -->
                        <div class="container text-center mb-3">
                            <button type="submit" class="btn btn-orange-color text-light me-3">
                                Guardar</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos el framework de Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos el script del menu-->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- Script funcionamiento -->
    <script type="text/javascript" src="../../controllers/admin/cupones.js"></script>
</body>

</html>