<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Dashboard</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/dashboard.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/SCRUD_categorias_admin.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">

<body>
    <!-- Insertar nuestro navbar a esta pantalla usando js -->
    <div id="navbar"></div>

    <header class="container_one p-2S">
        <div class="container-fluid p-4 mt-5">
            <div class="d-flex">
                <img src="../../resources/img/svg/brand.svg" class="custom-margin-right" alt="">
                <h2 class="mt-2"><strong>Marcas</strong></h2>
                <div class="row"></div>
            </div>
        </div>
    </header>

    <main>
        <div class="row">
            <div class="col align-self-center">
                <div class="col-10 barra_busqueda">
                    <form class="d-flex" role="search">
                        <input class="form-control me-4 shadow" type="search" aria-label="Search">
                        <div class="col-7">
                            <button class="btn btn-red-color text-light boton_busqueda img-fluid" type="submit"><img
                                    src="../../resources/img/png/boton_agregar.png"
                                    class="custom-margin-right tamanio_imagen_botones" alt="">Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container p-4 mt-5">
            <table class="table">
                <thead class="text-center">
                    <tr class="table-warning">
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td><img class="tamanio_imagen" src="../../resources/img/svg/dog.svg" alt=""></td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones" alt=""></button>
                            <button type="button" class="btn btn-warning img-fluid"><img
                                    src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="tamanio_imagen" src="../../resources/img/svg/dog.svg" alt=""></td>
                        <td>Thornton</td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones" alt=""></button>
                            <button type="button" class="btn btn-warning img-fluid"><img
                                    src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="tamanio_imagen" src="../../resources/img/svg/dog.svg" alt=""></td>
                        <td>@twitter</td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones" alt=""></button>
                            <button type="button" class="btn btn-warning img-fluid"><img
                                    src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <!-- Agregamos el framework de Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
</body>

</html>