<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - permisos</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!-- Agregamos su archivo css para el estilo de la tabla -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_marcas.css">
    <!-- Agregamos el archivo css para estilizar los switch-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/switch_styles.css">
    <!--Personalizamos los botones de la paginacion-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/pagination_styles.css">
    <!--Se agrega la libreria de DataTables para la paginación-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
</head>

<body class="mt-5">
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/png/permisos.png" width="60px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Permisos</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Buscador y boton de agregar -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <div class="col-md-6 col-lg-6">
                    <p>Haz clíc en el siguiente botón para poder agregar un nuevo permiso.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Este texto solo se mostrara en pantallas pequeñas, el .d-none esconde elementos -->
                    <div class="d-md-none d-lg-none">
                        <p>Haz clíc en el siguiente botón para poder agregar un nuevo permiso.</p>
                    </div>
                    <!-- .float-left y end posiciona el boton a la izquieda o derecha de la pantalla dependiendo del tamaño -->
                    <button
                        class="btn btn-red-color btn-sm text-light float-sm-left float-md-end float-lg-end rounded-3 p-2"
                        data-bs-toggle="modal" onclick="openCreate()" type="button">
                        <img class="me-2" src="../../resources/img/png/boton_agregar.png" width="20px">
                        Agregar permiso
                    </button>
                </div>
            </div>
        </div>
        <!-- Empieza la programación de las tablas
      Primero se define las columnas con "th", "td" es para definir el contenido de cada columna-->
        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table align-middle text-center" id="paginationTable">
                    <!-- Encabezado de las tablas -->
                    <thead class="table table-responsive">
                        <tr>
                            <td colspan="7" id="rowsFound" hidden></td>
                        </tr>
                        <tr class="table-warning">
                            <!-- Las columnas habitualmente son estáticas, en este caso siempre serán estáticas -->
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de la tabla -->
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

        <!--Modal para el boton de agregar permiso-->
        <div class="modal" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-orange-color">
                        <!-- Esto define el titiulo del modal que aparece en la franja naranja -->
                        <div class="container text-center">
                            <h1 class="modal-title fs-5 text-white fw-bold" id="modalTitle">Agregar permiso
                            </h1>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- Aqui comienzan los inputs y el boton del formulario del modal -->
                    <form id="saveForm" name="saveForm">
                        <div class="modal-body">
                            <input type="hidden" id="idPermiso" name="idPermiso">
                            <div class="row">
                                <div class="col-12">
                                    <p class="fs-8 btn-orange-color fw-bold">Nombre del permiso</p>
                                    <input type="text" class="form-control shadow bg-white" placeholder="Ejem. Analista"
                                        aria-label="codigo" id="NombrePermiso" name="NombrePermiso" maxlength="50">
                                    <br>
                                </div>
                                <div class="col-12">
                                    <p class="fs-8 btn-orange-color fw-bold">Asigna los permisos que tendrá esté tipo de
                                        permiso
                                    </p>
                                </div>
                                <!-- EL div que esta debajo donde se dice col-sm-12 y col-sm-6 es para que los input usen
                         todo el espacio disponible y sino se ordenen 2 inputs a la par-->
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-switch form-check" id="SwCrearUsuarios_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_cliente" name="ver_cliente" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            clientes</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwEliminarUsuarios_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_marca" name="ver_marca" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            marcas</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwCrearProductos_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_pedido" name="ver_pedido" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            pedidos</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwEliminarProducto_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_comentario" name="ver_comentario" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            comentarios</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwBorrarComentario_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_producto" name="ver_producto" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            productos</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwCrearCategorias_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_categoria" name="ver_categoria" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            categorías</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwBorrarCategorias_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_cupon" name="ver_cupon" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            cupones</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwGestionarCupones_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_permiso" name="ver_permiso" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            permisos</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <!-- Este div indica que usaremos un swtich que tiene 2 modos, true o false -->
                                    <div class="form-switch form-check" id="SwGestionarCupones_AgregarPermisos">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="ver_usuario" name="ver_usuario" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Gestionar
                                            empleados</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Este botón servirá para enviar la información del formulario -->
                            <div class="container text-center mb-3">
                                <button type="submit" class="btn btn-orange-color text-light me-3">
                                    Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!--Agregamos la libreria para la paginacion -- jquery y js-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos el script del menu-->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- Script funcionamiento -->
    <script type="text/javascript" src="../../controllers/admin/permisos.js"></script>
    <!-- Nos permite cambiar el idioma de la paginacion-->
    <script type="text/javascript" src="../../controllers/utils/language_pagination.js"></script>
</body>

</html>