<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Administradores</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/table_styles.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!-- Agregamos el archivo css para estilizar los switch-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/switch_styles.css">
</head>

<body>
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/svg/admins.svg" width="60px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold" id="mainTitle">Administradores</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Buscador y boton de agregar -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <!--Buscador-->
                <div class="col-md-6 col-lg-6">
                <!--Ocupamos el evento oninput para que cuando se detecte que se esta escribiendo en el input llame a la funcion searchhRow-->
                     <input class="form-control rounded-4 shadow bg-white" oninput="searchRow()" type="search" id="searchInput" name="search" placeholder="Buscar...">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Este texto solo se mostrara en pantallas pequeñas, el .d-none esconde elementos -->
                    <div class="d-md-none d-lg-none">
                        <p>Haz clíc en el siguiente botón para poder agregar un nuevo administrador.</p>
                    </div>
                    <!-- .float-left y end posiciona el boton a la izquieda o derecha de la pantalla dependiendo del tamaño -->
                    <button
                        class="btn btn-red-color btn-sm text-light float-sm-left float-md-end float-lg-end rounded-3 p-2"
                        data-bs-toggle="modal" onclick="openCreate()" type="button">
                        <img class="me-2" src="../../resources/img/png/boton_agregar.png" width="20px">
                        Agregar administrador
                    </button>
                </div>
            </div>
        </div>
        <!-- Tabla -->
        <div class="container mt-5">
            <div></div>
            <div class="table-responsive">
                <table class="table align-middle text-center">
                    <!-- Encabezado de las tablas -->
                    <thead class="table table-responsive">
                        <tr>
                            <td colspan="7" id="rowsFound" hidden></td>
                        </tr>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo electrónico</th>
                            <th>Fecha de registro</th>
                            <th>Permisos asignados</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de la tabla -->
                    <tbody id="tableBody"></tbody>
                </table>
                <!--Aca aparecera el codigo para mostrar el mensaje cuando no se encuentren los registros-->
                <div id="anyTable"></div>
            </div>
        </div>


        <!-- Modals -->
        <!-- Agregar admin -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- El modal se centra con modal-dialog-center, cuando esta en pantallas pequeñas toma todo el espacio de las pantallas -->
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
                <div class="modal-content">
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center text-light">
                            <h1 class="modal-title fs-5 text-center fw-bold" id="modalTitle"></h1>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form id="saveForm">
                        <div class="modal-body">
                            <!-- Fila 1 -->
                            <input type="hidden" id="idAdministrador" name="idAdministrador">
                            <div class="container text-center text-md-start text-lg-start">
                                <div class="row align-items-center gy-3">
                                    <div class="col-sm-12 col-md-auto">
                                        <img class="rounded-1" id="imagen" src="../../resources/img/png/rectangulo.png"
                                            width="120px" height="120px">
                                    </div>
                                    <div class="col">
                                        <!-- Botón para cargar imagen -->
                                        <input type="file" class="form-control" id="imgAdmin" name="imagenAdmin" hidden>
                                        <!-- Para que tenga el mismo funcionamiento del input file le ponemos el for y le agregamos el id del input file -->
                                        <label class="btn btn-red-color text-light " for="imgAdmin">Cargar
                                            imagen</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Fila 2 -->
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label for="nombreAdmin" class="form-label fw-semibold">Nombre</label>
                                            <input type="text" class="form-control" id="nombreAdmin" name="nombreAdmin"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="apellidoAdmin" class="form-label fw-semibold">Apellidos</label>
                                            <input type="text" class="form-control" id="apellidoAdmin"
                                                name="apellidoAdmin" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="claveadmin" class="form-label fw-semibold">Contraseña</label>
                                            <input type="password" class="form-control" id="claveAdmin"
                                                name="claveAdmin" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label for="correoAdmin" class="form-label fw-semibold">Correo
                                                electrónico</label>
                                            <input type="email" class="form-control" id="correoAdmin"
                                                placeholder="admin@gmail.com" name="correoAdmin" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="aliasAdmin" class="form-label fw-semibold">Alías</label>
                                            <input type="text" class="form-control" id="aliasAdmin" name="aliasAdmin"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmarClave" class="form-label fw-semibold">Confirmar
                                                contraseña</label>
                                            <input type="password" class="form-control" id="confirmarClave"
                                                name="confirmarClave" required>
                                        </div>
                                        <input type="hidden" id="fechaRegistroAdmin" name="fechaRegistroAdmin">
                                    </div>
                                </div>
                            </div>
                            <div class="container text-center mb-4 mt-4">
                                <button type="submit" class="btn btn-orange-color text-light me-3"
                                    data-bs-dismiss="modal">Guardar</button>
                                <button type="reset" class="btn btn-red-color text-light">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Editar permisos admin -->
        <div class="modal fade" id="permisosAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center text-light">
                            <h1 class="modal-title fs-5 text-center fw-bold" id="modalTitle2"></h1>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form action="" id="permisosForm">
                        <div class="modal-body p-4">
                            <!-- ID'S -->
                            <input type="hidden" id="idAdministrador2" name="idAdministrador">
                            <input type="hidden" id="idAsignacionPermiso" name="idAsignacionPermiso">

                            <!-- Muestra los permisos del usuario elegido -->
                            <small>Estos son los permisos que tiene este usuario, recuerda que puedes actualizar o
                                eliminar estos permisos</small>
                            <div class="row mb-3 mt-4" id="tarjetas">

                            </div>
                            <div class="container border border-secondary-subtle p-4">
                                <div class="mb-3">
                                    <label for="idPermiso" class="form-label fw-semibold">Asignación de permiso</label>
                                    <select class="form-select" id="idPermiso" name="idPermiso" required></select>
                                    <div class="form-text" id="basic-addon4">Elige el permiso que tendrá este usuario</div>
                                </div>
                                <div class="container text-center mb-2 mt-4">
                                    <button type="submit" class="btn btn-orange-color text-light me-3"
                                        data-bs-dismiss="modal" id="btn_guardar" name="btnGuardar">Guardar</button>
                                    <button type="reset" class="btn btn-red-color text-light" id="btn_cancelar"
                                        name="btnCancelar">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Agregamos el controlador de la pagina web -->
    <script type="text/javascript" src="../../controllers/admin/admin.js"></script>
</body>

</html>