<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Categorias</title>
    <!-- Icono de la pestaña del navegador -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Framework Bootstrap - CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Estilos propios -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_categorias.css">
    <!-- Estilos del menú -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!--Personalizamos los botones de la paginacion-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/pagination_styles.css">
    <!--Se agrega la libreria de DataTables para la paginación-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
</head>

<body class="mt-5">
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/svg/categories.svg" width="50px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Categorías</h2>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Barra de búsqueda -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el texto y el buscador -->
            <div class="row align-items-center gy-4">
                <div class="col-md-6 col-lg-6">
                    <p>Haz clíc en el siguiente botón para poder agregar una nueva categoría.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- .float-left y end posiciona el boton a la izquieda o derecha de la pantalla dependiendo del tamaño -->
                    <button
                        class="btn btn-red-color btn-sm text-light float-sm-left float-md-end float-lg-end rounded-3 p-2"
                        data-bs-toggle="modal" onclick="openCreate()" type="button">
                        <img class="me-2" src="../../resources/img/png/boton_agregar.png" width="20px">
                        Agregar Marca
                    </button>
                </div>
            </div>
        </div>

        <!-- Contenido principal: Tabla de categorías -->
        <div class="container p-3 mt-4">
            <div class="table-responsive">
                <!--Agregamos el id a la tabla para poder utilizar la paginacion-->
                <table class="table align-middle" id="paginationTable">
                    <thead>
                        <tr>
                            <td colspan="8" id="rowsFound" hidden></td>
                        </tr>
                        <!-- Encabezados de la tabla -->
                        <tr class="table-warning">
                            <th scope="col">Imagen</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

        <!-- Modal para agregar categoría -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
                <div class="modal-content">
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center">
                            <!-- Título del modal -->
                            <h1 class="modal-title fs-5 text-white fw-bold" id="modalTitle"></h1>
                        </div>
                        <!-- Botón para cerrar el modal -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form action="" id="saveForm">
                        <div class="modal-body">
                            <input type="hidden" id="idCategoria" name="idCategoria">
                            <!-- Sección para cargar imagen y agregar categoría -->
                            <div class="row">
                                <div class="col-4">
                                    <div class="container d-flex align-items-center">
                                        <img src="../../resources/img/png/entretenimiento_categorias.png"
                                            class="tamanio_imagen_agregar" id="imagen" width="120px" height="120px">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                                    <div>
                                        <!-- Botón para cargar imagen -->
                                        <input type="file" class="form-control" id="imagenCategoria"
                                            name="imagenCategoria" hidden>
                                        <!-- Para que tenga el mismo funcionamiento del input file le ponemos el for y le agregamos el id del input file -->
                                        <label class="btn btn-red-color text-light btn-sm" for="imagenCategoria">Cargar
                                            imagen</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row container d-flex align-items-center">
                                <div class="mb-3">
                                    <!-- Nombre de la categoría -->
                                    <label for="nombreCategoria" class="fs-8 fw-bold"> Nombre</label>
                                    <input type="text" class="form-control" id="nombreCategoria" name="nombreCategoria"
                                        aria-label="codigo">
                                    <br>
                                    <div class="mb-3">
                                        <!-- Descripción de la categoría -->
                                        <label for="descripcionCategoria" class="form-label fw-bold">Descripción</label>
                                        <textarea class="form-control" name="descripcionCategoria"
                                            id="descripcionCategoria" rows="3"></textarea>
                                    </div>
                                    <br>
                                    <div class="container text-center">
                                        <!-- Botón para agregar la categoría -->
                                        <button type="submit" id="modalButton"
                                            class="btn btn-orange-color text-white"></button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!--Agregamos la libreria para la paginacion -- jquery y js-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- Agregamos el controlador de la pagina web -->
    <script type="text/javascript" src="../../controllers/admin/categorias.js"></script>
    <!-- Nos permite cambiar el idioma de la paginacion-->
    <script type="text/javascript" src="../../controllers/utils/language_pagination.js"></script>
</body>

</html>