<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Pedidos</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!-- Agregamos su archivo css para el estilo de la tabla -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_marcas.css">
    <!-- Agregamos su archivo css para el estilo de pedido estado pedido -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/pedidos.css">
    <!-- Agregamos la libreria de los iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- Insertar nuestro navbar a esta pantalla usando js -->
    <div id="navbar"></div>

    <header class="container_one p-2S">
        <div class="container-fluid p-4 mt-5">
            <div class="d-flex">
                <img src="../../resources/img/png/ShoppingCart.png" class="custom-margin-right" alt="">
                <h2 class="mt-2"><strong>Pedidos</strong></h2>
                <div class="row"></div>
            </div>
        </div>
    </header>

    <main>
        <div class="row justify-content-center">
            <div class="col align-self-center">
                <div class="col-6 barra_busqueda">
                    <form class="d-flex" role="search">
                        <input class="form-control me-4 shadow" type="search" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>

        <div class="container p-4 mt-5">
            <table class="table">
                <thead class="text-center">
                    <tr class="table">
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha registro</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>Julio López</td>
                        <td>2024-02-14</td>
                        <td>3</td>
                        <td>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EstadoPedido"><img
                                    src="../../resources/img/png/eye.square.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones"></button>
                            <button type="button" class="btn btn-warning img-fluid" data-bs-toggle="modal"
                                data-bs-target="#InfoPedido"><img src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Rodolfo Baker</td>
                        <td>2024-01-20</td>
                        <td>6</td>
                        <td>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EstadoPedido"><img
                                    src="../../resources/img/png/eye.square.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones"></button>
                            <button type="button" class="btn btn-warning img-fluid" data-bs-toggle="modal"
                                data-bs-target="#InfoPedido"><img src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Elena Morán</td>
                        <td>2023-12-15</td>
                        <td>5</td>
                        <td>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EstadoPedido"><img
                                    src="../../resources/img/png/eye.square.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger img-fluid"><img
                                    src="../../resources/img/png/eliminar_img_boton.png"
                                    class="tamanio_edicion_botones"></button>
                            <button type="button" class="btn btn-warning img-fluid" data-bs-toggle="modal"
                                data-bs-target="#InfoPedido"><img src="../../resources/img/png/editar_boton.png"
                                    class="tamanio_edicion_botones"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>



    <!-- Agregamos el framework de Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/pedidos.js"></script>
</body>


<!--Modal para el boton de modificar el estado del pedido-->
<div class="modal" id="EstadoPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header bg-orange-color">
                    <div class="container text-center">
                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Estado</h1>
                    </div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <label class="form-check-label custom-bold-label" for="flexSwitchCheckChecked">Estado actual del
                            pedido</label>
                        <br>
                        <div class="dropdown">
                            <br>
                            <button class="btn bg-gray-color dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- Agrega el texto del estado seleccionado -->
                                <span id="estadoSeleccionado">Elige un estado</span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" id="completadooption"> Completado</a>
                                <a class="dropdown-item" href="#" id="pendienteoption"> Pendiente</a>
                                <a class="dropdown-item" href="#" id="canceladooption"> Cancelado</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="container text-center">
                    <button type="button" class="btn btn-orange-color text-white">Guardar</button>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>




<!--Modal para el boton de información pedido-->
<div class="modal" id="InfoPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form>
            <div class="modal-content">
                <div class="modal-header bg-orange-color">
                    <div class="container text-center">
                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Información del pedido</h1>
                    </div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="list-group">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start shadow mb-4">
                                    <img src="../../resources/img/png/product1.png" alt="Imagen" height="90">
                                    <div class="ms-2 me-auto">
                                        <span class="badge badge-custom text-dark shadow mb-4">1</span>
                                        <div class="marca"> Pedigree</div>
                                        <div class="producto"> Bolsa 21 kilos, pedigree perro adulto </div>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <div class="p-2 text-end">
                                            <button type="button" class="btn-close btn-close-red"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="p-2">
                                            <label class="fw-bold">$9.80</label>
                                        </div>
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start shadow mb-4">
                                    <img src="../../resources/img/png/product2.png" alt="Imagen" height="90">
                                    <div class="ms-2 me-auto">
                                        <span class="badge badge-custom text-dark shadow mb-4">3</span>
                                        <div class="marca">Maxxi chucho</div>
                                        <div class="producto">Bolsa Maxxi chucho - perro adulto</div>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <div class="p-2 text-end">
                                            <button type="button" class="btn-close btn-close-red"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="p-2">
                                            <label class="fw-bold">$9.80</label>
                                        </div>
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start shadow mb-4">
                                    <img src="../../resources/img/png/product3.png" alt="Imagen" height="90">
                                    <div class="ms-2 me-auto">
                                        <span class="badge badge-custom text-dark shadow mb-4">2</span>
                                        <div class="marca">Purina</div>
                                        <div class="producto"> Cat show gato adulto pescado 39.6LBS (2 PACK)</div>
                                    </div>
                                    <div class="d-flex flex-column mb-3">
                                        <div class="p-2 text-end">
                                            <button type="button" class="btn-close btn-close-red"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="p-2">
                                            <label class="fw-bold">$9.80</label>
                                        </div>
                                    </div>
                                    <br>
                                </li>
                                <br>
                            </ol>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label class="form-check-label custom-bold-label"
                                for="flexSwitchCheckChecked">Nombre</label>
                            <br>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Daniel Carranza</label>
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-6">
                            <label class="form-check-label custom-bold-label"
                                for="flexSwitchCheckChecked">Dirección</label>
                            <br>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Calle las rosas, residencial 4,
                                poligono 3A, casa #10</label>
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-6">
                            <label class="form-check-label custom-bold-label" for="flexSwitchCheckChecked">Fecha que se
                                realizo el pago</label>
                            <br>
                            <label class="form-check-label" for="flexSwitchCheckChecked">2024-03-10</label>
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-6">
                            <label class="form-check-label custom-bold-label" for="flexSwitchCheckChecked">Total a
                                pagar</label>
                            <br>
                            <label class="form-check-label" for="flexSwitchCheckChecked">$29.40</label>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="container text-center">
                    <button type="button" class="btn btn-orange-color text-white">Salir</button>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>


</html>