<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Comentarios</title>

    <!-- Icono de la pestaña del navegador -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Framework Bootstrap - CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Estilos propios -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_categorias.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_comentarios.css">
    <!-- Estilos del menú -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
</head>

<body class="mt-5">
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/svg/comments.svg" width="50px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Comentarios</h2>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Barra de búsqueda -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <div class="col-md-6 col-lg-6">
                    <!--Ocupamos el evento oninput para que cuando se detecte que se esta escribiendo en el input llame a la funcion searchhRow-->
                    <input class="form-control rounded-4 shadow bg-white" oninput="searchRow()" type="search" id="searchInput" name="search" placeholder="Buscar un producto en especifico...">
                </div>
            </div>
        </div>

        <!-- Contenido principal: Tabla de comentarios -->
        <div class="container p-4 mt-4">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table">
                        <tr>
                            <td colspan="7" id="rowsFound" hidden></td>
                        </tr>
                        <!-- Encabezados de la tabla -->
                        <tr class="table-warning">
                            <th scope="col">Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de valoración</th>
                            <th scope="col">Valoración</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
                <div id="anyTable"></div>
            </div>
        </div>

        <!-- Modal para gestionar comentarios -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center">
                            <!-- Título del modal -->
                            <h1 class="modal-title fs-5 text-white fw-bold" id="titleModalInfo">Comentarios - Detalles
                            </h1>
                        </div>
                        <!-- Botón para cerrar el modal -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" id="saveForm">
                            <input type="hidden" id="idValoracion" name="idValoracion">
                            <!-- Sección para cargar información del comentario -->
                            <div class="row">
                                <div class="col-4">
                                    <div class="container d-flex align-items-center justify-content-center">
                                        <img src="../../resources/img/png/ejemplo_producto.png" id="imagen" class="tamanio_imagen_agregar" alt="">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <!-- Campos para nombre del producto y cliente -->
                                        <label class="fs-8 btn-orange-color fw-semibold"
                                            for="nombreProductoValoracion">
                                            Producto</label>
                                        <input type="text" name="nombreProductoValoracion"
                                            id="nombreProductoValoracion" class="form-control" aria-label="codigo"
                                            disabled readonly>
                                    </div>
                                    <br>
                                    <div>
                                        <label class="fs-8 btn-orange-color fw-semibold"
                                            for="nombreClienteValoracion">
                                            Cliente</label>
                                        <input type="text" name="nombreClienteValoracion" id="nombreClienteValoracion"
                                            class="form-control" aria-label="codigo" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                                    <!-- Sección de valoración con estrellas -->
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="../../resources/img/png/start_on.png" class="imagen_valoration"
                                                alt="" id="imagenE1">
                                        </div>
                                        <div class="col-4">
                                            <img src="../../resources/img/png/start_on.png" class="imagen_valoration"
                                                alt="" id="imagenE2">
                                        </div>
                                        <div class="col-4 ">
                                            <img src="../../resources/img/png/start_on.png" class="imagen_valoration"
                                                alt="" id="imagenE3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="../../resources/img/png/start_on.png" class="imagen_valoration"
                                                alt="" id="imagenE4">
                                        </div>
                                        <div class="col-6">
                                            <img src="../../resources/img/png/start_off.png" class="imagen_valoration"
                                                alt="" id="imagenE5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mensaje del comentario -->
                            <br>
                            <div class="row container d-flex align-items-center mensaje_margin">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="comentarioValoracion" class="form-label fw-semibold">Mensaje</label>
                                        <!-- Área de texto para el mensaje del comentario -->
                                        <textarea class="form-control" id="comentarioValoracion" name="comentarioValoracion"
                                            rows="3" disabled></textarea>
                                    </div>
                                    <br>
                                    <!-- Botones de acción (Agregar, Ocultar) -->
                                    <div class="container text-center">
                                        <button type="button" class="btn btn-orange-color text-white mx-3">
                                            Regresar</button>
                                        <button type="submit" id="modalButton" class="btn btn-red-color text-white"> Ocultar</button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la ruta para agregar el menu -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Agregamos el controlador de la pagina web -->
    <script type="text/javascript" src="../../controllers/admin/valoraciones.js"></script>
    <!-- Agregamos la libreria para las alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
</body>

</html>