<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Marcas</title>
    <!-- Icono de la pestaña del navegador -->
    <link type="image/png" rel="icon" href="../../resources/img/huellita_logo_without_text.png">
    <!-- Framework Bootstrap - CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Estilos propios -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_marcas.css">
    <!-- Estilos del menú -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
</head>

<body>
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-5">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/svg/brand.svg" width="50px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Marcas</h2>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Barra de búsqueda -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <div class="col-md-6 col-lg-6">
                    <form class="d-flex" role="search" id="search_marcas">
                        <input class="form-control rounded-4 shadow bg-white" type="search" aria-label="Search"
                            id="busqueda_marca" name="busquedaMarca" placeholder="Buscar...">
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- Este texto solo se mostrara en pantallas pequeñas, el .d-none esconde elementos -->
                    <div class="d-md-none d-lg-none">
                        <p>Haz clíc en el siguiente botón para poder agregar una nueva marca.</p>
                    </div>
                    <!-- .float-left y end posiciona el boton a la izquieda o derecha de la pantalla dependiendo del tamaño -->
                    <button
                        class="btn btn-red-color btn-sm text-light float-sm-left float-md-end float-lg-end rounded-3 p-2"
                        data-bs-toggle="modal" data-bs-target="#agmarc" type="button">
                        <img class="me-2" src="../../resources/img/png/boton_agregar.png" width="20px">
                        Agregar Marca
                    </button>
                </div>
            </div>
        </div>

        <!-- Contenido principal: Tabla de marcas -->
        <div class="container p-4 mt-4">
            <table class="table">
                <thead>
                    <!-- Encabezados de la tabla -->
                    <tr class="table-warning">
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Datos de ejemplo en la tabla -->
                    <tr>
                        <td><img class="" src="../../resources/img/png/marcas_img_ejemplo.png" alt=""></td>
                        <td>Pedigree</td>
                        <td>
                            <!-- Botones de acciones (eliminar, editar) -->
                            <button type="button" class="btn btn-light"><img
                                    src="../../resources/img/svg/delete_icon.svg" width="35px"></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#editar_marc"><img src="../../resources/img/svg/edit_icon.svg"
                                    width="35px"></button>
                        </td>
                    </tr>
                    <!-- Datos de ejemplo en la tabla -->
                    <tr>
                        <td><img class="" src="../../resources/img/png/marcas_img_ejemplo.png" alt=""></td>
                        <td>Pedigree</td>
                        <td>
                            <!-- Botones de acciones (eliminar, editar) -->
                            <button type="button" class="btn btn-light"><img
                                    src="../../resources/img/svg/delete_icon.svg" width="35px"></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#editar_marc"><img src="../../resources/img/svg/edit_icon.svg"
                                    width="35px"></button>
                        </td>
                    </tr>
                    <!-- Datos de ejemplo en la tabla -->
                    <tr>
                        <td><img class="" src="../../resources/img/png/marcas_img_ejemplo.png" alt=""></td>
                        <td>Pedigree</td>
                        <td>
                            <!-- Botones de acciones (eliminar, editar) -->
                            <button type="button" class="btn btn-light"><img
                                    src="../../resources/img/svg/delete_icon.svg" width="35px"></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#editar_marc"><img src="../../resources/img/svg/edit_icon.svg"
                                    width="35px"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Script personalizado -->
    <script src="../../controllers/utils/admin.js"></script>
</body>

<!-- Modal para agregar marca -->
<div class="modal fade" id="agmarc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-orange-color">
                <div class="container text-center">
                    <!-- Título del modal -->
                    <h1 class="modal-title fs-5 text-white fw-bold" id="exampleModalLabel">Agregar marca</h1>
                </div>
                <!-- Botón para cerrar el modal -->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form action="" id="crear_marca">
                <div class="modal-body">
                    <!-- Sección para cargar imagen y agregar marca -->
                    <div class="col">
                        <div class="container d-flex align-items-center justify-content-center">
                            <img src="../../resources/img/png/fondo_img.png" class="img-fluid" alt="">
                        </div>
                        <br>
                        <div class="container text-center">
                            <!-- Botón para cargar imagen -->
                            <button type="button" class="btn btn-red-color text-white"> Cargar Imagen</button>
                        </div>
                    </div>
                    <!-- Sección para ingresar el nombre de la marca -->
                    <div class="row container d-flex align-items-center">
                        <div class="col">
                            <label for="nombre_marca" class="fs-8 btn-orange-color fw-semibold"> Nombre</label>
                            <input type="text" class="form-control" aria-label="codigo" name="nombreMarca"
                                id="nombre_marca">
                            <br>
                            <div class="container text-center">
                                <!-- Botón para agregar la marca -->
                                <button type="button" class="btn btn-orange-color text-white"> Agregar</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar marca -->
<div class="modal fade" id="editar_marc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-orange-color">
                <div class="container text-center">
                    <!-- Título del modal -->
                    <h1 class="modal-title fs-5 text-white fw-bold" id="exampleModalLabel">Editar marca</h1>
                </div>
                <!-- Botón para cerrar el modal -->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form action="" id="crear_marca">
                <div class="modal-body">
                    <!-- Sección para cargar imagen y agregar marca -->
                    <div class="col">
                        <div class="container d-flex align-items-center justify-content-center">
                            <img src="../../resources/img/png/fondo_img.png" class="img-fluid" alt="">
                        </div>
                        <br>
                        <div class="container text-center">
                            <!-- Botón para cargar imagen -->
                            <button type="button" class="btn btn-red-color text-white"> Cargar Imagen</button>
                        </div>
                    </div>
                    <!-- Sección para ingresar el nombre de la marca -->
                    <div class="row container d-flex align-items-center">
                        <div class="col">
                            <label for="nombre_marca" class="fs-8 btn-orange-color fw-semibold"> Nombre</label>
                            <input type="text" class="form-control" aria-label="codigo" name="nombreMarca"
                                id="nombre_marca">
                            <br>
                            <div class="container text-center">
                                <!-- Botón para agregar la marca -->
                                <button type="button" class="btn btn-orange-color text-white"> Agregar</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>