<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huellitas Pets - Pedidos</title>
    <!-- Agregamos una imagen para que se vea en la ventana -->
    <link type="image/png" rel="icon" href="../../resources/img/png/huellita_logo_without_text.png">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../resources/scss/main.css">
    <!-- Agregamos el archivo css del menu -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/static_components/menu.css">
    <!-- Agregamos su archivo css para el estilo de la tabla -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/scrud_marcas.css">
    <!-- Agregamos su archivo css para el estilo de pedido estado pedido -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/pedidos.css">
    <!--Personalizamos los botones de la paginacion-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/admin/pagination_styles.css">
    <!--Se agrega la libreria de DataTables para la paginación-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
</head>

<body class="mt-5">
    <header>
        <!-- Insertar nuestro navbar a esta pantalla usando js -->
        <div id="navbar"></div>
        <div class="container p-2 mt-4">
            <div class="row mt-5">
                <!-- Automaticamente cada col se va distribuir en la row -->
                <div class="col-auto">
                    <img src="../../resources/img/png/ShoppingCart.png" width="60px">
                </div>
                <div class="col-auto">
                    <h2 class="fw-bold">Pedidos</h2>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Buscador y boton de agregar -->
        <div class="container mt-4">
            <!-- py-4 agrega un margin vertical entre el boton y el buscador -->
            <div class="row align-items-center gy-4">
                <div>
                    <p>Observa todos los pedidos que se han tenido en Huellitas Pet's, recuerda cambiar el estado de los
                        pedidos.</p>
                </div>
            </div>
        </div>

        <!-- Empieza la programación de las tablas
      Primero se define las columnas con "th", "td" es para definir el contenido de cada columna-->
        <div class="container mt-4">
            <div class="table-responsive">
                <table class="table align-middle text-center" id="paginationTable">
                    <!-- Encabezado de las tablas -->
                    <thead class="table table-responsive text-center">
                        <tr>
                            <td colspan="8" id="rowsFound" hidden></td>
                        </tr>
                        <tr class="table-warning">
                            <!-- Las columnas habitualmente son estáticas, en este caso siempre serán estáticas -->
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Fecha registro</th>
                            <th class="text-center">Productos</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Cambiar estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de la tabla -->
                    <tbody id="tableBody"></tbody>
                </table>
                <div id="anyTable"></div>
            </div>
        </div>

        <!-- Modal para modificar el estado del pedido -->
        <div class="modal" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header bg-orange-color">
                        <div class="container text-center">
                            <h1 class="modal-title fs-5 text-white fw-bold" id="exampleModalLabel">Estado</h1>
                        </div>
                        <!-- Botón de cerrar -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <form action="" id="saveForm">
                        <div class="modal-body p-4">
                            <!-- ID'S -->
                            <input type="hidden" id="id_pedido" name="id_pedido">
                            <div class="container">
                                <div class="mb-3">
                                    <label for="estado" class="form-label fw-semibold">Estado actual del
                                        pedido</label>
                                    <select class="form-select" id="estado" name="estado" required></select>
                                </div>
                                <div class="container text-center mb-2 mt-4">
                                    <button type="submit" class="btn btn-orange-color text-light me-3">
                                        Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!-- Modal para mostrar información detallada del pedido -->
        <div class="modal" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header bg-orange-color">
                        <!-- Título del modal -->
                        <div class="container text-center">
                            <h1 class="modal-title fs-5 text-white fw-bold" id="exampleModalLabel">Información
                                del
                                pedido
                            </h1>
                        </div>
                        <!-- Botón para cerrar el modal -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close" onclick=resetDataTable()></button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body mt-3">
                        <div class="row">
                            <input type="hidden" id="idPedidoView" name="idPedidoView">
                            <div class="col-sm-12">
                                <ol class="list-group" id="tarjetas">
                                    <!-- Elemento de la lista representando los productos -->
                                </ol>
                            </div>
                            <!-- Información adicional del pedido -->
                            <div class="col-sm-12 col-md-6">
                                <!-- Etiqueta para el nombre -->
                                <label class="form-check-label custom-bold-label" for="nombreCliente">Nombre</label>
                                <br>
                                <!-- Nombre del cliente -->
                                <label class="form-check-label" id="nombreCliente" name="nombreCliente"></label>
                            </div>
                            <!-- Más información adicional -->
                            <br>
                            <!-- Información de la dirección -->
                            <div class="col-sm-12 col-md-6">
                                <label class="form-check-label custom-bold-label" for="direccion">Dirección</label>
                                <br>
                                <label class="form-check-label" id="direccion" name="direccion"></label>
                            </div>
                            <!-- Más información de la dirección -->
                            <br>
                            <!-- Estado del pedido -->
                            <div class="col-sm-12 col-md-6">
                                <label class="form-check-label custom-bold-label"
                                    for="estestadoPedidoado">Estado</label>
                                <br>
                                <!-- Estado del pedido -->
                                <label class="form-check-label" id="estadoPedido" name="estadoPedido"></label>
                            </div>
                            <!-- Total a pagar -->
                            <br>
                            <div class="col-sm-12 col-md-6">
                                <label class="form-check-label custom-bold-label" for="totalAPagar">Total
                                    a
                                    pagar</label>
                                <br>
                                <!-- Monto total a pagar por el pedido -->
                                <label class="form-check-label" id="totalAPagar" name="totalAPagar"></label>
                            </div>
                        </div>
                    </div>
                    <!-- Pie del modal -->
                    <div class="container text-center mb-3">
                        <!-- Botón para salir del modal -->
                        <button type="button" class="btn btn-orange-color text-white" data-bs-dismiss="modal"
                            onclick=resetDataTable()>Salir</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Framework Bootstrap - JS -->
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Agregamos la libreria para alertas -->
    <script type="text/javascript" src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!--Agregamos la libreria para la paginacion -- jquery y js-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- Agregamos el controlador general de la aplicacion-->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Agregamos el script del menu-->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- Script funcionamiento -->
    <script type="text/javascript" src="../../controllers/admin/pedidos.js"></script>
    <!-- Nos permite cambiar el idioma de la paginacion-->
    <script type="text/javascript" src="../../controllers/utils/language_pagination.js"></script>
</body>

</html>